* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  background: #fff;
  overflow: hidden;
}

/* --------- */
/* Structure */
/* --------- */

.wrapper {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  align-items: flex-start;
}

/* ---- */
/* Grid */
/* ---- */

.grid {
  display: flex;
  flex-wrap: wrap;
  border: 10px solid rgb(33, 33, 33);
  box-sizing: content-box;
  background-image: linear-gradient(45deg, #2b61d7, #65c9ff);
}

.grid__cell {
  width: var(--grid-cell-size);
  height: var(--grid-cell-size);
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  border-right: 1px solid rgba(0, 0, 0, 0.4);
}

/* ---- */
/* Dock */
/* ---- */

.dock {
  background: #d3dcdf;
  border-top-right-radius: 0.4rem;
  border-bottom-right-radius: 0.4rem;
  padding: 2rem;
}

/* ---- */
/* Ship */
/* ---- */

.ship {
  background: #282c2e;
  border-radius: 50% 10% 10% 50%;
}

.ship + .ship {
  margin-top: 2rem;
}
